name: Build Loop Station

# This triggers the build every time you make a change to the code
on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Allows you to click a button to run it manually

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # Install ffmpeg
    - name: Install FFmpeg (Mac)
      if: runner.os == 'macOS'
      run: brew install ffmpeg

    - name: Install FFmpeg (Windows)
      if: runner.os == 'Windows'
      run: choco install ffmpeg

    - name: Install Dependencies
      run: |
        pip install pygame numpy matplotlib customtkinter librosa pyinstaller Pillow

    # BUILD WINDOWS
    - name: Build Windows .exe
      if: runner.os == 'Windows'
      run: |
        pyinstaller --noconsole --name "LoopStation" --icon=logo.ico --collect-all customtkinter --add-data "logo.png;." --add-data "logo.ico;." main.py

    # BUILD MAC
    - name: Build Mac .app
      if: runner.os == 'macOS'
      run: |
        # Mac uses colon (:) separator instead of semicolon (;)
        pyinstaller --noconsole --name "LoopStation" --icon=logo.png --collect-all customtkinter --add-data "logo.png:." --add-data "logo.ico:." main.py

    # UPLOAD RESULT
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: LoopStation-${{ runner.os }}
        path: dist/
